<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="row" style="min-height: 600px;">
    <div class="col-sm-12" style="text-align: center; margin:auto; color: #0b0c10; vertical-align: middle; font-family: Courier, monospace;">
    <h1>Just trying to help the competitive programming community</h1>
    </div>
</div>
