<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="row blog-post-2" style="min-height: 700px; margin:0px; margin-top: 15px;">
    <div class="col-sm-12" style="text-align: center; margin:auto; color: #0b0c10; vertical-align: middle; font-family: Courier, monospace;">
    <h1>In Progress . . .</h1>
    </div>
</div>
