<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 100%;">	
    <form action="/blog/post/add/{{blog_type}}/{{blog_ref_id}}/" method="post">
		<div class="cfs-title-1">
			<h2 style="text-align: center;"><b>Create Blog Post</b></h2>
            <p style="color: rgb(149, 167, 201); text-align:center;">Target Audience: [{{target_audience}}]</p>
			<hr class="thin" style="width: 100%; height: 0.007em; background-color: rgb(34, 77, 80)">
		</div>
		<br>
		<br>
		
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" autocomplete="off" id="blog_title" class="form-control" name="blog_title" placeholder="Enter Blog Title">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" autocomplete="off" id="blog_topic" class="form-control" name="blog_topic" placeholder="Enter Blog Topics (comma separated)">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<textarea type="text" id="blog_text" class="form-control blog-post-text-box" name="blog_text" placeholder="Write your blog"></textarea>
			</div>
		</div>
		<br>
		<br>
		<div class="form-group">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn-lg">POST</button>
        </div>
	</form>
</div>


<script type="text/javascript">
    var simplemde = new SimpleMDE({
        autofocus: true,
        blockStyles: {
            bold: "__",
            italic: "_"
        },
        element: document.getElementById("blog_text"),
        hideIcons: ["guide", "heading"],
        indentWithTabs: false,
        insertTexts: {
            horizontalRule: ["", "\n\n-----\n\n"],
            image: ["![](http://", ")"],
            link: ["[", "](http://)"],
            table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
        },
        placeholder: "Write your post . . .",
        promptURLs: true,
        renderingConfig: {
            codeSyntaxHighlighting: true,
        },
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        showIcons: ["code", "table"],
        status: false,
        status: ["autosave", "lines", "words", "cursor"],
        status: ["autosave", "lines", "words", "cursor", {
            className: "keystrokes",
            defaultValue: function(el) {
                this.keystrokes = 0;
                el.innerHTML = "0 Keystrokes";
            },
            onUpdate: function(el) {
                el.innerHTML = ++this.keystrokes + " Keystrokes";
            }
        }],
        styleSelectedText: true,
        tabSize: 4,
    });
</script>
 