<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 100%;">	
    <form action="/problem/add/" method="post">
		<div class="cfs-title-1-2">
			<h2 style="text-align: center;"><b>Add Problem Suggestion</b></h2>
			<hr class="thin" style="width: 100%; height: 0.007em; background-color: rgb(34, 77, 80)">
		</div>
		<br>
		<br>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="problem_name" class="form-control" name="problem_name" placeholder="Problem Name">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" id="problem_description" class="form-control" name="problem_description" placeholder="Description">
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
                        <select class="form-control" id="oj_name">
                            <option value="codeforces">Codeforces</option>
                            <option value="codechef">Codechef</option>
                            <option value="codechef">Codechef</option>
                            <option value="lightoj">Light OJ</option>
                            <option value="spoj">SPOJ</option>
                            <option value="uva">UVA</option>
                            <option value="hackerrank">Hackerrank</option>
                        </select>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" id="problem_difficulty" class="form-control" name="problem_difficulty" placeholder="Difficulty">
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" id="problem_significance" class="form-control" name="problem_significance" placeholder="Significance">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="source_link" class="form-control" name="source_link" placeholder="Source Link">
				</div>
			</div>
		</div>
		<div class="category-group">
			<div class="form-row control-group">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" autocomplete="off" id="problem_category@1" class="form-control autocomplete" name="problem_category@1" placeholder="Category">
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" id="dependency_factor@1" class="form-control" name="dependency_factor@1" placeholder="Factor">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn add-more btn-block" type="button"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		</div>


		<div class="copy hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" autocomplete="off" id="problem_category_tmp" class="form-control autocomplete" name="problem_category_tmp" placeholder="Category">
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" id="dependency_factor_tmp" class="form-control" name="dependency_factor_tmp" placeholder="Factor">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn remove btn-block" type="button"><i class="fas fa-minus"></i></button>
				</div>
			</div>
		</div>

		<br>
		<br>
		<br>
		<div class="form-group">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn-lg">Submit</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	var cat_item = 1;

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: algorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

    $(document).ready(function() {
		$(".add-more").click(function(){
			cat_item++;
			var html = $(".copy").html()
			var problem_category_id = 'problem_category@' + cat_item.toString();
			html = html.replace('problem_category_tmp', problem_category_id)
			html = html.replace('problem_category_tmp', problem_category_id)
			var dependency_factor_id = 'dependency_factor@' + cat_item.toString();
			html = html.replace('dependency_factor_tmp', dependency_factor_id)
			html = html.replace('dependency_factor_tmp', dependency_factor_id)
			$(".category-group").append(html);
			enableAutoComplete();
		});

		$("body").on("click",".remove",function(){ 
			$(this).parents(".control-group").remove();
		});
    });

	const algorithms = [
		{"name": "DFS", "code": "AF"},
		{"name": "BFS", "code": "AX"},
		{"name": "Dynamic Programming", "code": "AL"},
		{"name": "Graph Coloring", "code": "DZ"},
		{"name": "Diskstra", "code": "AS"},
		{"name": "Max Flow", "code": "AD"},
		{"name": "Matching", "code": "AO"},
		{"name": "Segment Tree", "code": "AO"},
		{"name": "Heavy Light Decomposition", "code": "AO"},
		{"name": "Centroid Decomposition", "code": "AO"},
		{"name": "Coin Change", "code": "BD"},
		{"name": "Knapsack", "code": "BD"},
		{"name": "SQRT Decomposition", "code": "BD"},
		// more data here
	]
	enableAutoComplete();

</script>