<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<div class="form-type-1" style="width: 80%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;"><b>Add New Task</b></h5>
		<h6 style="text-align: center; color: #093441;"><b>Classroom: {{team_name}}</b></h6>
	</div>
	<br>
    <form action="/classroom/task/add/{{id}}/" method="post" style="padding: 10px;">
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="task_title" class="form-control" name="task_title" placeholder="Task Name" required>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="task_description" class="form-control" name="task_description" placeholder="Task Details">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="date" title="Deadline" id="deadline" class="form-control" name="deadline" placeholder="Deadline">
				</div>
			</div>
		</div>
		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn">Submit</button>
        </div>
	</form>
</div>
