<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 80%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;"><b>Add Category Resource</b></h5>
		<h6 style="text-align: center; color: #09323f; font-size: small;">Category: {{category_title}}</h6>
	</div>
	<br>
    <form action="/category/resource/add/{{category_id}}/" method="post" style="padding: 10px;">
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="resource_title" class="form-control" name="resource_title" placeholder="Resource Name" required>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="resource_body" class="form-control" name="resource_body" placeholder="Resource Details">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" title="resource_type" id="resource_type" class="form-control" name="resource_type" placeholder="Resource Type">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="resource_owner" class="form-control" name="resource_owner" placeholder="Resource Credit">
				</div>
			</div>
		</div>
		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn">Add Resource</button>
        </div>
	</form>
</div>
