<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1">	
    <form action="/team/add/" method="post">
		<h2>Team Information</h2>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" id="team_name" class="form-control" name="team_name" placeholder="Team Name">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<div class="input-group">
					<input type="text" id="institution_name" class="form-control" name="institution_name" placeholder="Institution">
				</div>
			</div>
			<div class="form-group col-md-4">
				<div class="input-group">
					<input type="text" id="team_purpose" class="form-control" name="team_purpose" placeholder="Purpose">
				</div>
			</div>
			<div class="form-group col-md-4">
				<div class="input-group">
					<input type="text" id="description" class="form-control" name="description" placeholder="Description">
				</div>
			</div>
		</div>
		<div class="category-group">
			<div class="form-row control-group">
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" autocomplete="off" id="user_handle@1" class="form-control autocomplete" name="user_handle@1" placeholder="User Handle">
					</div>
				</div>
				<div class="form-group col-md-4">
					<div class="input-group">
						<input type="text" id="remarks@1" class="form-control" name="remarks@1" placeholder="Remarks">
					</div>
				</div>
				<div class="form-group col-md-3">
					<div class="input-group-btn">
						<button class="btn btn control-btn add-more" type="button"><i class="fas fa-plus"></i></button>
					</div>
				</div>
			</div>
		</div>


		<div class="copy hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" autocomplete="off" id="user_handle_tmp" class="form-control autocomplete" name="user_handle_tmp" placeholder="User Handle">
					</div>
				</div>
				<div class="form-group col-md-4">
					<div class="input-group">
						<input type="text" id="remarks_tmp" class="form-control" name="remarks_tmp" placeholder="Remarks">
					</div>
				</div>
				<div class="form-group col-md-3">
					<div class="input-group-btn"> 
						<button class="btn control-btn remove" type="button"><i class="fas fa-minus"></i></button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn-lg">Submit</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	var cat_item = 1;

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: users,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

    $(document).ready(function() {
		$(".add-more").click(function(){
			cat_item++;
			var html = $(".copy").html()
			var user_handle_id = 'user_handle@' + cat_item.toString();
			html = html.replace('user_handle_tmp', user_handle_id)
			html = html.replace('user_handle_tmp', user_handle_id)
			var remarks_id = 'remarks@' + cat_item.toString();
			html = html.replace('remarks_tmp', remarks_id)
			html = html.replace('remarks_tmp', remarks_id)
			$(".category-group").append(html);
			enableAutoComplete();
		});

		$("body").on("click",".remove",function(){ 
			$(this).parents(".control-group").remove();
		});
    });

	const users = [
		{"name": "tarango_khan", "code": "AF"},
		{"name": "diya", "code": "AX"},
		{"name": "shahed_shahriar", "code": "AL"},
		{"name": "koushik_roy", "code": "DZ"},
		{"name": "nur_islam", "code": "AS"},
		{"name": "sadia_zahin", "code": "AD"},
		{"name": "aqua_method", "code": "AO"},
		{"name": "type_reacer", "code": "AO"},
		{"name": "mythical_decom", "code": "AO"},
		{"name": "subscript_same", "code": "AO"},
		{"name": "coin_change", "code": "BD"},
		{"name": "knapsack", "code": "BD"},
		{"name": "sqrt_method", "code": "BD"},
		// more data here
	]
	enableAutoComplete();

</script>