<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 80%;">	
	<div class="cfs-title-1">
		<h5 style="text-align: center;"><b>Add Category Suggestion</b></h5>
	</div>
	<br>
    <form action="/category/add/" method="post" style="padding: 10px;">
		<div class="form-row">
			<div class="form-group col-md-12">
				<label><b>Category Name</b></label>
				<div class="input-group">
					<input type="text" id="category_name" class="form-control" name="category_name" placeholder="Enter the category name">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label><b>Category Title</b></label>
				<div class="input-group">
					<input type="text" id="category_title" class="form-control" name="category_title" placeholder="Enter category title">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label><b>Category Root</b></label>
				<div class="input-group">
					<input type="text" autocomplete="off" id="category_root" class="form-control autocomplete-root" name="category_root" placeholder="Enter category root">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><b>Category Description</b></label>
				<div class="input-group">
					<input type="text" id="category_description" class="form-control" name="category_description" placeholder="Category description">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label><b>Category Difficulty</b></label>
				<div class="input-group">
					<input type="text" id="category_difficulty" class="form-control" name="category_difficulty" placeholder="Category difficulty (1-10)">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><b>Category Importance</b></label>
				<div class="input-group">
					<input type="text" id="category_importance" class="form-control" name="category_importance" placeholder="Category importance value (1-10)">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label><b>Category Rareness</b></label>
				<div class="input-group">
					<input type="text" id="category_rareness" class="form-control" name="category_rareness" placeholder="Category rareness value (1-10)">
				</div>
			</div>
		</div>
		
		<label><b>Category Dependency List</b></label>

		<div class="category-group">
			<div class="form-row control-group">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" autocomplete="off" id="dependency_category@1" class="form-control autocomplete" name="dependency_category@1" placeholder="Dependent on category">
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" id="dependency_factor@1" class="form-control" name="dependency_factor@1" placeholder="Dependency factor">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn add-more btn-block" type="button"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		</div>


		<div class="copy hide" hidden>
			<div class="form-row control-group">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" autocomplete="off" id="dependency_category_tmp" class="form-control autocomplete" name="dependency_category_tmp" placeholder="Dependent on category">
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<input type="text" id="dependency_factor_tmp" class="form-control" name="dependency_factor_tmp" placeholder="Dependency factor">
					</div>
				</div>
				<div class="form-group col-sm-1" style="width: 10px !important;">
					<button class="btn remove btn-block" type="button"><i class="fas fa-minus"></i></button>
				</div>
			</div>
		</div>
		<div class="form-group submit-btn-div">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn">Submit</button>
        </div>
	</form>
</div>

<script type="text/javascript">
	var cat_item = 1;

	function enableAutoCompleteRoot(){
		$(".autocomplete-root").typeahead({
			// data source
			source: rootAlgorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

	function enableAutoComplete(){
		$(".autocomplete").typeahead({
			// data source
			source: algorithms,

			// how many items to show
			items: 8,

			// default template
			menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
			item: '<li><a class="dropdown-item" href="#" role="option"></a></li>',
			headerHtml: '<li class="dropdown-header"></li>',
			headerDivider: '<li class="divider" role="separator"></li>',
			
			itemContentSelector:'a',

			// min length to trigger the suggestion list
			minLength: 1,

			// number of pixels the scrollable parent container scrolled down
			scrollHeight: 0,

			// auto selects the first item
			autoSelect: true,

			// callbacks
			afterSelect: $.noop,
			afterEmptySelect: $.noop,

			// adds an item to the end of the list
			addItem: false,

			// delay between lookups
			delay: 0,
		});
	}

    $(document).ready(function() {
		$(".add-more").click(function(){
			cat_item++;
			var html = $(".copy").html()
			var dependency_category_id = 'dependency_category@' + cat_item.toString();
			html = html.replace('dependency_category_tmp', dependency_category_id)
			var dependency_factor_id = 'dependency_factor@' + cat_item.toString();
			html = html.replace('dependency_factor_tmp', dependency_factor_id)
			$(".category-group").append(html);
			enableAutoComplete();
			enableAutoCompleteRoot();
		});

		$("body").on("click",".remove",function(){ 
			$(this).parents(".control-group").remove();
		});
    });

	const algorithms = [
		{"name": "DFS", "code": "AF"},
		{"name": "BFS", "code": "AX"},
		{"name": "Dynamic Programming", "code": "AL"},
		{"name": "Graph Coloring", "code": "DZ"},
		{"name": "Diskstra", "code": "AS"},
		{"name": "Max Flow", "code": "AD"},
		{"name": "Matching", "code": "AO"},
		{"name": "Segment Tree", "code": "AO"},
		{"name": "Heavy Light Decomposition", "code": "AO"},
		{"name": "Centroid Decomposition", "code": "AO"},
		{"name": "Coin Change", "code": "BD"},
		{"name": "Knapsack", "code": "BD"},
		{"name": "SQRT Decomposition", "code": "BD"},
		// more data here
	]

	const rootAlgorithms = [
		{"name": "Data Structure", "code": "AF"},
		{"name": "Dynamic Programming", "code": "AX"},
		{"name": "Graph", "code": "AL"},
		{"name": "Geometry", "code": "DZ"},
		{"name": "Mathemetics", "code": "AS"},
		{"name": "String Matching", "code": "AD"},
		{"name": "STL", "code": "AO"},
		{"name": "Greedy", "code": "AO"},
		// more data here
	]
	enableAutoComplete();
	enableAutoCompleteRoot();

</script>