<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<div class="form-type-1" style="width: 100%;">	
    <form action="/blog/post/add/{{blog_type}}/{{blog_ref_id}}/" method="post">
		<h2>Create Blog Post</h2>
		<p style="color: rgb(149, 167, 201); text-align:center;">Target Audience: [{{target_audience}}]</p>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" autocomplete="off" id="blog_title" class="form-control" name="blog_title" placeholder="Enter Blog Title">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<input type="text" autocomplete="off" id="blog_topic" class="form-control" name="blog_topic" placeholder="Enter Blog Topics (Comma Separated)">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="input-group">
					<textarea style="height: 300px;" type="text" id="blog_text" class="form-control" name="blog_text" placeholder="Write your blog"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
            <button type="submit" class="btn submit-btn btn-primary btn-block btn-lg">Submit</button>
        </div>
	</form>
</div>