<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


<div class="cfs-table-wrapper-1">
    <div class="cfs-title-1">
        <h5 style="text-align: center;"><b>Sync Adminstration</b></h5>
    </div>
    <div class="cfs-table-1">
        <table id="syncJobTable" class="leaderboard table" style="text-align: center;">
            <thead>
                <tr>
                    <td>Operation Type</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sync All Users</td>
                    <td><a style="color:rgb(13, 98, 155);" href="/sync/adminstration/user/sync/all/"><span class="fas fa-sync"></span></a></td>
                </tr>
                <tr>
                    <td>Restore All Users</td>
                    <td><a style="color:rgb(13, 98, 155);" href="/sync/adminstration/user/sync-restore/all/"><span class="fas fa-sync"></span></a></td>
                </tr>
                <tr>
                    <td>Sync All Teams</td>
                    <td><a style="color:rgb(13, 98, 155);" href="/sync/adminstration/team/sync/all/"><span class="fas fa-sync"></span></a></td>
                </tr>
                <tr>
                    <td>Restore All Teams</td>
                    <td><a style="color:rgb(13, 98, 155);" href="/sync/adminstration/team/sync-restore/all/"><span class="fas fa-sync"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
