<head>
	<link rel="stylesheet" type="text/css" href="/css/error.css">
</head>


<div>
    <h1 style="text-align: center;">{{title}}</h1>
    <h1 style="text-align: center;">{{session.email}}</h1>
    <h1 style="text-align: center;">{{session.username}}</h1>
</div>


<div class="error-page">
    <img style="align-items: center;   position: relative; left: 50%; transform: translateX(-50%);" src="/img/error-image-4.jpg" alt="image">
    <br>
    <br>
    <h1 style="text-align: center; color: #0b0c10;">404 PAGE NOT FOUND</h1>
    <br>
    <h5 style="text-align: center; color: #0b0c10;">Sorry, the server could not process your request.</h5>
    <h5 style="text-align: center; color: #0b0c10;">Please go back to the <a href="/">home page</a> or contact us for further support.</h5>
</div>
