<head>
	<link rel="stylesheet" type="text/css" href="/css/error.css">
</head>


<div class="row error-page">
    <div class="col-sm-5" style="text-align: center; margin:auto; color: #0b0c10; vertical-align: middle; font-family: Courier, monospace;">
    <h1>4O4 PAGE NOT FOUND</h1>
    <br>
    <h5>Sorry, the server could not process your request.</h5>
    <h5>Please go back to the <a href="/" style="color: #5bc0de;">home page</a> or <a href="/" style="color: #5bc0de;">contact us</a> for further support.</h5>

    </div>
    <div class="col-sm-6">
    <img style="align-items: center;   position: relative; left: 50%; transform: translateX(-50%);" src="/img/error-image-4.jpg" alt="image">
    </div>
</div>