<head>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>

<div class="signup-form" style="top: 500px;">
    <form action="/forgot/password/" method="post">
		<div class="form-group">
			<div class="input-group">
				<span style="padding-right: 10px;" class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
			</div>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
        </div>
		<p style="font-size: 12px; text-align:center;">We'll send a password reset link to your email address.</p>
	<div class="text-center">Not registered yet? <a style="color: rgb(40, 167, 167);" href="/signup/">Sign Up</a>.</div>
    </form>
</div>