<head>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>

<div class="signup-form" style="top: 500px;">
    <form action="/confirm/forgot/password/{{user_id}}/{{token}}" method="post">
		<h4 style="text-align: center;">Reset Your Password</h4>
		<br>
		<div class="form-group">
			<div class="input-group">
				<span style="padding-right: 10px; padding-top: 10px; width: 50px;" class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span style="padding-right: 10px; padding-top: 10px; width: 50px;" class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required="required">
			</div>
			<span style="padding-left: 30px;" id='password_message'></span>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Confirm</button>
        </div>
    </form>
</div>

<script>
	$('#confirm_password').on('keyup', function () {
		if ($('#password').val() == $('#confirm_password').val()) {
			$('#password_message').html('Password matched').css('color', 'green');
		} else {
			$('#password_message').html('Password does not match').css('color', 'red');
		}
	});
</script>