<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<div>
    <h1 style="text-align: center;">{{title}}</h1>
    <h1 style="text-align: center;">{{session.email}}</h1>
    <h1 style="text-align: center;">{{session.username}}</h1>
</div>
