<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


<div class="table-type-2" style="margin-left: 0px;">
    <div class="table-title-2">
        <h4 style="text-align: center;"><b>Top Contributors</b></h4>
    </div>
    <table id="topContributorsTable" class="table table-striped table-bordered" style="text-align: center;">
        <thead style="background-color: #accbe1;">
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Contribution</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script type="text/javascript">

    function top_contributors(user_list){
        console.log('user_list:')
        console.log(user_list)
        var dt_list = [];
        var idx = 0
        for(idx = 0;idx<user_list.length;idx++){
            var user = user_list[idx]
            var user_link = `<a href = "/profile/${user.username}/" style="color: ${user.skill_color}; font-weight:700;">${user.username}</a>`
            var data = [user.rank, user_link, user.contribution];
            dt_list.push(data)
        }
        console.log(dt_list)
        return dt_list;
    }

    function showTopContributorsDTSearchTable(){
        $("#topContributorsTable").dataTable({
            "pageLength": 100,
            destroy: true,
            ordering: true,
            serverSide: true,
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 2 }
            ],
            ajax: {
                url: 'http://localhost:5056/api/user/dtsearch',
                type: 'POST',
                "contentType": "application/json",
                "data": function ( d ) {
                    var ajax_body = JSON.stringify( d );
                    var ajax_json = JSON.parse(ajax_body)
                    ajax_json['sort_by'] = 'contribution'
                    ajax_json['sort_order'] = 'desc'
                    return JSON.stringify(ajax_json)
                },
                "dataSrc": function ( data ) {
                    return top_contributors(data.data);
                }
            }
        });
    }
    
    $(document).ready( function () {
        showTopContributorsDTSearchTable();
    } );

</script>
