<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>


<div class="table-type-1" style="margin-left: 0px;">
    <div class="table-title-2">
        <h6 style="text-align: center;"><b>Top Problem Solvers</b></h6>
    </div>
    <table id="topSolverMemberTable" class="table table-striped table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Solve Count</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script type="text/javascript">

    function getTopSolverList(){
        var dt_list = [];
        {{#each top_solved_users}}
            var user_link = '<a href = "/profile/{{username}}/" style="color: #5bc0de; font-weight:700;">{{username}}</a>'
            var data = ["{{rank}}", user_link, "{{solve_count}}"];
            dt_list.push(data)
        {{/each}}

        return dt_list;
    }

    function showTopSolverMemberDTSearchTable(){
        var dt_list = getTopSolverList();
        
        $("#topSolverMemberTable").dataTable({
            "aaData": dt_list,
            paging: false,
            destroy: true,
            searching: false,
            ordering:  false,
            scrollCollapse: true,
            responsive: true,
            pageLength: 10
        });
    }

    $(document).ready( function () {
        showTopSolverMemberDTSearchTable();
    } );

</script>
