<head>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>


<div class="signup-form">	
    <form action="/signup/" method="post">
		<h2>Create Account</h2>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control" name="username" placeholder="Username" required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fas fa-user-tag"></i></span>
					<input type="text" id="full_name" class="form-control" name="full_name" placeholder="Full Name" required="required">
				</div>
			</div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="text" class="form-control" name="password" placeholder="Password" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
			</div>
        </div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="codeforces_handle" placeholder="Codeforces Handle">
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="codechef_handle" placeholder="Codechef Handle">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="spoj_handle" placeholder="SPOJ Handle">
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="uva_handle" placeholder="UVA Handle">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="atcoder_handle" placeholder="AtCoder Handle">
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="lightoj_handle" placeholder="LightOJ Handle">
				</div>
			</div>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
        </div>
	<div class="small text-center">By clicking the Sign Up button, you agree to our <br> <a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</div>
	<br>
	<div class="text-center">Already have an account? <a href="/login/">Login here</a>.</div>
	</form>
</div>