<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<div class="table-type-1" style="width: 100%;  margin-right:1px auto">		
        <div class="table-title">
            <h4 style="text-align: center;"><b>Problem List</b></h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Problem Name</th>
                    <th>Problem ID</th>
                    <th>OJ Name</th>
                </tr>
            </thead>
            <tbody>

                {{#each problem_set}}
                <tr>
                    <td>{{problem_name}}</td>
                    <td>{{problem_id}}</td>
                    <td>{{oj_name}}</td>
                </tr>
                 {{/each}}

            </tbody>
        </table>
</div>