@charset "UTF-8";

.body {
  overflow-x: hidden;
  margin-top: 3.5625rem;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
}

b, strong {
  color: #495057;
  font-weight: bolder;
}

.content {
  min-width: 100vw;
}
@media (min-width: 768px) {
  .content {
    min-width: 0;
    width: 100%;
  }
}

.content-box {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.sidebar {
  min-height: calc(100vh - 3.0625rem);
  margin-left: -15rem;
  transition: margin 0.15s ease-out;
  border-top-right-radius: 0.25rem;
  background-color: #202f3e;
}
@media (min-width: 768px) {
  .sidebar {
    margin-left: 0;
  }
}

.sidebar-toggle .sidebar {
  margin-left: 0;
}
@media (min-width: 768px) {
  .sidebar-toggle .sidebar {
    margin-left: -15rem;
  }
}

.sidebar-menu {
  width: 15rem;
}

.navbar-link {
  margin-left: 0.1875rem;
}

.navbar-bars {
  transition: 0.2s all;
  margin-left: 0.3125rem;
  font-size: 0.875rem;
}

.dropdown-logged {
  margin-left: auto;
}

.dropdown-logged-toggle:before {
  margin: 0.5rem 0 0 0.5rem;
  float: right;
  font-family: "FontAwesome";
  font-size: 0.875rem;
  content: "\f175";
}

.dropdown-logged-menu {
  top: 2.875rem;
}

.dropdown-logged-item {
  font-size: 0.875rem;
}
.dropdown-logged-item .fa {
  transition: 0.5s all;
  padding-right: 0.625rem;
  width: 1.375rem;
}

.dropdown-link:hover {
  text-decoration: none;
}

.dropdown-user {
  display: block;
  margin: 0.5rem 0.5rem 0 0;
  float: left;
  font-weight: 600;
  font-size: 0.875rem;
}

.dropdown-avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
}

.list {
  max-height: 80vh;
  padding: 0 1.25rem;
  font-size: 0.875rem;
}

.list-item {
  padding: 0;
  margin-top: 0.625rem;
  line-height: 2.125rem;
}

.list-title {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.list-hidden {
  display: none;
  padding-left: 0.625rem;
  margin: 0.9375rem 0 0.9375rem 0.625rem;
}

.list-link-notif {
  font-size: larger;
  padding: 0 0.625rem;
}

.list-link {
  display: block;
  padding: 0 0.625rem;
  margin-bottom: 0.125rem;
  border-radius: 0.25rem;
}
.list-link .fa {
  margin-right: 0.625rem;
}
.list-link:hover {
  text-decoration: none;
}
.list-link:hover .fa {
  transform: rotate(360deg);
  transition: 0.5s all;
}

.link-arrow:before {
  font-family: "FontAwesome";
  margin-right: 0.1875rem;
  float: right;
}

.link-arrow.up:before {
  content: "\f106";
}

.link-arrow.down:before {
  content: "\f107";
}

.link-arrow.transition:before {
  transition: 0.2s all;
}

.link-arrow.rotate:before {
  transform: rotate(180deg);
}

.link-arrow.rotate-revert:before {
  transform: rotate(-180deg);
}

.list-scrollbar {
  position: relative;
  overflow: hidden;
}

.ps__rail-y {
  margin-top: 0.0625rem;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps__rail-y:hover .ps__thumb-y,
.ps__thumb-y {
  width: 0.3125rem;
}

.nanobar {
  width: 100%;
  height: 0.125rem;
  z-index: 9999;
  top: 0;
}

.nanobar .bar {
  width: 0;
  height: 100%;
  transition: height 0.3s;
}

.body-lighten {
  background-color: #f4f4f4;
  color: #404040;
}

.cfs-body {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 60px;
  margin-left: 300px;
}

.sidebar-lighten .ps__rail-y.ps--clicking .ps__thumb-y,
.sidebar-lighten .ps__rail-y:focus .ps__thumb-y,
.sidebar-lighten .ps__rail-y:hover .ps__thumb-y,
.sidebar-lighten .ps__thumb-y {
  background-color: #010114;
}

.sidebar-lighten .list {
  color: #ffffff;
}

.sidebar-lighten .list-link {
  color: #ffffff;
}

.sidebar-lighten .list-hidden {
  border-left: 0.0625rem solid #c4c4c4;
}

.sidebar-lighten .link-current,
.sidebar-lighten .list-link:hover {
  background-color: #33495e;
}

.navbar-lighten {
  background-color: #081727;
  color: #ffffff;
}

.sidebar-lighten {
  margin-top: -6px;
  background-color: #0f2436;
  border-top: 1px solid #0f2436;
  box-shadow: 0px 0px 5px #000000;
  border-radius: 0px;
  position: fixed;
  z-index: 1;
  transition: 0.2s all;
}

.navbar-lighten .navbar-link {
  color: #ffffff;
}

.navbar-lighten .navbar-bars {
  color: #ffffff;
}
.navbar-lighten .list-link{
  font-size: larger;
}

.dropdown-logged-lighten .dropdown-link {
  color: #ffffff;
}

.dropdown-menu-lighten {
  background-color: #f4f4f4;
}

.content-lighten {
  background-color: #ffffff;
}








.sidebar-lighten .link-arrow:before,
.sidebar-lighten .list-link .fa,
.navbar-lighten .navbar-bars,
.dropdown-logged-lighten .dropdown-logged-toggle:before,
.dropdown-menu-lighten .dropdown-logged-item .fa {
  opacity: 0.5;
}

.navbar-lighten .navbar-bars:hover {
  opacity: 1.8;
}

.sidebar-lighten .link-arrow.active:before,
.sidebar-lighten .list-link:hover .fa {
  opacity: 1.0;
}

.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: none;
}

.nanobar .bar {
  background-color: #f4f8fa;
}

.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: none;
}

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 5px;
  background-color: #081727;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: #ffffff;
}
.sidebar-footer > a:hover {
  color: #b6b6b6;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}