@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #E1EFF6;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.navbar-btn {
    background: #E1EFF6;
    box-shadow: none;
    border: none;
}

.navbar-btn-icon{
    font-size: 20px;
    color: #4B4E6D;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    background: #4B4E6D;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -220px;
}

#sidebar .sidebar-header {
    border-radius: 0px;
    border-color: #7180AC;
    box-shadow: 1px 1px 3px #7180AC;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid #7180AC;
    font-size: medium;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0B0C10;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7180AC;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    padding-left: 30px !important;
    background: rgb(122, 150, 170)
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #000000;
}

a.article,
a.article:hover {
    background: #C5C6C7 !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 50;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.dataTables_scrollHeadInner, .table{
    width:100%!important
};


#sidebar .bell-icons {
    width: 30px;
}

ul {
    list-style-type: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #17A2B8;
}
  .dropdown-menu{
    top: 100%;
    right: 128px;
    left: unset;
    width: 450px;
    box-shadow: 0px 0px 0.3px 0px #7180AC;
    padding-bottom: 0px;
    padding: 5px;
  }
  .dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border:5px solid #7180AC;
    border-color: transparent transparent #343A40 transparent;
  }
  .head{
    padding:15px;
    border-radius: 3px 3px 0px 0px;
  }
  .footer{
    padding:5px 5px;
    border-radius: 0px 0px 3px 3px; 
  }
  .notification-box{
    padding: 10px;
    padding-left: 10px;
    border-top: 1px solid rgb(4, 39, 37);
  }
  .bg-gray{
    background-color: rgb(255, 255, 255);
  }

  @media (max-width: 640px) {
      .dropdown-menu{
        top: 70px;
        left: -16px;  
        width: 290px;
      } 
      .nav{
        display: block;
      }
      .nav .nav-item,.nav .nav-item a{
        padding-left: 0px;
      }
      .message{
        font-size: 10px;
      }
  }

hr.thin {
    height: 0px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 95%;
}





.blog-post-1 {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px #7180AC;
    padding: 30px;
    color: #0B0C10;
}


.comment-post-1 {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px #7180AC;
    padding: 30px;
    color: #0B0C10;
}






.comments-details button.btn.dropdown-toggle,
.comments-details .total-comments {
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}
.comments-details {
    padding: 15px 15px;
}
.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}
.comments button {
    background-color: transparent;
    border: none;
}
.comments .comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding: 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.comments .add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 50px;
}
.comments .commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.comments .add-comment .commenter-name {
    width: 100%;
    padding-left: 75px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.comments .add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
}
.comments .add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}
.comments .add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
}
.comments .add-comment button {
    background-color: #f5f5f5;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}
.comments .commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}
.comments p.comment-txt {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 15px;
}
.comments .commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.comments .comment-meta {
    font-size: 14px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
}
.comments .reply-box {
    display: none;
}
.comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
}

/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}

form.comment_reply{
    display: none;
  }