@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    min-height: 700px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.head{
    padding:15px;
    border-radius: 3px 3px 0px 0px;
}
.footer{
    padding:5px 5px;
    top: 500px;
    border-radius: 0px 0px 3px 3px; 
    text-align: center;
}
.notification-box{
    padding: 10px;
    padding-left: 10px;
    border-top: 1px solid rgb(4, 39, 37);
}
.bg-gray{
    background-color: rgb(255, 255, 255);
}

@media (max-width: 640px) {
    .dropdown-menu{
    top: 70px;
    left: -16px;  
    width: 290px;
    } 
    .nav{
    display: block;
    }
    .nav .nav-item,.nav .nav-item a{
    padding-left: 0px;
    }
    .message{
    font-size: 10px;
    }
}

.dataTables_scrollHeadInner, .table{
    width:100%!important
};

hr.thin {
    height: 0px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 95%;
}