body {
    color: #999;
    background: #1F2833;
    font-family: 'Roboto', sans-serif;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}
.form-type-1 {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 20px;
    color: #0B0C10;
}
.form-type-1 h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}
.form-type-1 .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.form-type-1 form {		
    border-radius: 20px;
    margin-bottom: 15px;
    background: rgb(255, 255, 255);
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 3px rgba(102, 252, 241, 10.35);
    padding: 30px;
}
.form-type-1 .form-group {
    margin-bottom: 20px;
}
.form-type-1 label {
    font-weight: normal;
    font-size: 13px;
}
.form-type-1 .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}	
.form-type-1 .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}
.form-type-1 .submit-btn {        
    font-size: 16px;
    font-weight: bold;
    background: #86C232;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.form-type-1 .submit-btn:hover, .form-type-1 .submit-btn:focus {
    background: rgb(173, 236, 84);
}

.form-type-1 .control-btn {        
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.table-type-1 {
    background: #ffffff;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(102, 252, 241, 10.35);
    padding: 30px;
    color: #0B0C10;

}