body {
    color: #0B0C01;
    font-size: small;
    line-height: inherit;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}
.form-type-1 {
    color: black;
    width: 60%;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
    font-size: small;
}

.form-type-1 h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}

.form-type-1 .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.form-type-1 .form-group {
    margin-bottom: 20px;
}
.form-type-1 label {
    font-weight: normal;
    font-size: 13px;
}
.form-type-1 .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}	
.form-type-1 .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}
.form-type-1 .submit-btn {
    margin-top: 20px;
    background: #ececec;
    color: #000000;
    border: 1px solid #e4e4e4;
    width: 13%;
    height: 40px;
}
.form-type-1 .submit-btn-div {        
    display: flex;
    justify-content: center;
}
.form-type-1 .submit-btn:hover, .form-type-1 .submit-btn:focus {
    background: #dcdee0;
    border-bottom: 2px solid #79a2c4;
}

.form-type-1 .control-btn {        
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.table-type-1 {
    background: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px #7180AC;
    padding: 30px;
    color: #0B0C10;
}

.table-type-2 {
    background: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 3px #565e61;
    padding: 30px;
    color: #0B0C10;
}

.table-type-3 {
    background: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin: 15px;
    box-shadow: 0px 0px 3px #565e61;
    padding: 30px;
    color: #0B0C10;
}

.standings-table {
    overflow: hidden;
    table-layout: fixed;
}

.sidebar-rating-table {
    background: #ffffff;
    border-radius: 5px;
    margin: 30px auto;
    margin-top: 15px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 1px;
}

.cfs-title-1-2 {
    color: rgb(25, 46, 71);
}

.post-body a{
    color: #3d87b9;
}


.sidebar-stat-table {
    text-align: center;
    overflow: hidden;
}

.sidebar-stat-table tbody>tr>:nth-child(2){
    word-break: break-word;
}

.sidebar-stat-table tbody>tr>:nth-child(3){
    word-break: break-word;
}

.contest-list-table{
    text-align: center;
    border-collapse: collapse;
}

.contest-list-table tbody tr{
    height: 80px;
    text-align: center;
    border-radius: 5px;
    outline: thin solid;
}

.contest-row {
    height: 80px;
    font-size: 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
}
.rich-data-table {
    color: black;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
    font-size: small;
}
.problem-set-table {
    color: black;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
    font-size: small;
}

.problem-row {
    height: 60px;
    font-size: 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
    padding-top: 10px;
}

.contest-header {
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
    height: 150px;
    margin-left: 30px;
}

.contest-info-box {
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
}

.cfs-title-1-contest {
    background: #FAFAFA;
    border-bottom: 1px solid #e4e7eb;
    color: #ffffff;
    padding: 3px;
    padding-top: 7px;
}

.cfs-title-1-inside {
    margin-left: 30px;
    text-align: center;
    padding-bottom: 5px;
}

.cfs-title-1-inside a{
    color: #ffffff;
    font-size: small;
}

.standings-box {
    padding: 20px;
}

.selected-button{
    border: 1px solid #c9cfd8;
    border-radius: 3px;
}

.table-wrapper {
    color: black;
    padding: 20px 25px;
    margin: 30px auto;
    margin-bottom: 15px;
    margin-top: 0px;
    background: rgb(255, 255, 255);
    border: 1px solid #dcdfe0;
    font-size: small;
}

.table-wrapper-3 {
    color: black;
    margin: 15px auto;
    margin-bottom: 15px;
    margin-top: 0px;
    background: rgb(255, 255, 255);
    border: 1px solid #dcdfe0;
    font-size: small;
}
.canvas-table {
    background: #fff;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1 1px 1px rgba(209, 168, 168, 0.05);
    font-size: small;
}

.blog-post-1 {
    background: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px #565e61;
    padding: 30px;
    color: #0B0C10;
}

.blog-post-2 {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 30px auto;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    padding: 30px;
    color: #0B0C10;
}

.blog-post-3 {
    background: #ffffff;
    border-radius: 3px;
    margin: 30px auto;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    padding: 30px;
    color: #0B0C10;
}


.page-box{
    margin-top: 15px;
    text-align: center;
}

.blog-post-text-box {
    background: #ffffff;
    font-size: medium;
}

.post-body{
    font-size: 14px;
    font-weight: normal;
    color: #1b1f1f;
}


.comment-post-1 {
    background: #FAFAFA;
    margin: 20px;
    border-radius: 3px;
    border: 1px solid #d2dbdf;
    padding: 10px;
    color: #0B0C10;
}


.comment-post-1 .submit-btn {
    background: #ececec;
    color: #000000;
    border: 1px solid #e4e4e4;
}
.comment-post-1 .submit-btn-div {        
    display: flex;
    justify-content: center;
}
.comment-post-1 .submit-btn:hover, .form-type-1 .submit-btn:focus {
    background: #e6e7e9;
    border-bottom: 1px solid #a3b9cc;
}

.comment_reply{
    display: none;
}

.comment_reply .submit-btn {
    background: #ececec;
    color: #000000;
    border: 1px solid #e4e4e4;
}
.comment_reply .submit-btn-div {        
    display: flex;
    justify-content: center;
}
.comment_reply .submit-btn:hover, .form-type-1 .submit-btn:focus {
    background: #e6e7e9;
    border-bottom: 1px solid #a3b9cc;
}

.comments-details button.btn.dropdown-toggle,
.comments-details .total-comments {
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}
.comments-details {
    padding: 15px 15px;
}
.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}
.comments button {
    background-color: transparent;
    border: none;
}
.comments .comment-box {
    width: 100%;
    float: left;
    background-color: #FAFAFA;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.comments .add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 50px;
}
.comments .commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.comments .add-comment .commenter-name {
    width: 100%;
    padding-left: 75px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.comments .add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
}
.comments .add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}
.comments .add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
    font-size: 40px;
}
.comments .add-comment button {
    background-color: #f5f5f5;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}


.comments .commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 12px;
}
.comments .comment-text-box {
    font-size: small;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0px;
}
.comments .commenter-name {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
}
.comments .comment-meta {
    font-size: 10px;
    color: #333;
    float: right;
}
.comments .reply-box {
    display: none;
}
.comments .replied {
    background-color: #fff;
    width: 98%;
    float: right;
    margin-top: 7px;
}

.skill-color {
    color: #ff1414;
}

hr.light {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cfs-table-wrapper-1 {
    color: black;
    margin: 30px auto;
    margin-bottom: 40px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
    font-size: small;
}

.cfs-table-1 {
    padding: 10px;
}

.cfs-title-1 {
    border-radius: 1px;
    background: #FAFAFA;
    border-bottom: 1px solid #e4e7eb;
    color: #000000;	
    padding: 3px;
    padding-top: 7px;
    font-size: smaller;
}

.cfs-title-2 {
    border-radius: 1px;
    background: #ffffff;
    color: #000000;	
    font-size: smaller;
}

.cfs-transparent-header-div {
    background: #ffffff;
    border-radius: 5px;
    margin: 30px auto;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 0px 5px #565e61;
    border: 1px solid #8498aa;
    font-size: smaller;
}

.cfs-transparent-header-div .h6 {
    font-size: smaller;
}

.cfs-title-light {
    font-family: Roboto;
    font-size: xx-large;
}

.top-list-table tr {
    line-height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}