@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body
{
    font-family: 'Lato', 'sans-serif';
    color: black;
}
.profile
{
    min-height: 955px;
}

.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis 
{
    border-top: 4px solid transparent;
}
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
}
.emphasis h2
{
    margin-bottom:0;
}
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu .divider 
{
    background:none;    
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu 
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}

.profile-top {
    margin: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    background: rgb(255, 255, 255);
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 3px rgba(102, 252, 241, 10.35);
    padding: 30px;
}

.profile-section {
    border: 2px solid #f3f3f3;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(242, 242, 242, 10.35);
    padding: 15px;
}

.below-section {
    border: 2px solid #f3f3f3;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(242, 242, 242, 10.35);
    padding: 15px;
}